html,body{
    margin:0;
    padding: 0;
    height: 100%;
}
body{
    background: burlywood;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    line-height: 1.6;
    min-height: 100vh;
    color: white;
}
h1{
    text-align: center;
    color: white;
    background-color: darkgrey;
    padding: 6px 12px;
    border-radius: 5px;
}

.button{
    width: 400px;
    border: none;
    color:white;
    position: relative;
    display: inline-block;
    margin: 5px 10px;
    padding: 10px 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 15px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 5px;
    background-color: dodgerblue;
}
.button:hover{
    opacity: 1;
}

.button-loguit{
    border: none;
    color:white;
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 5px;
    background-color: #0779e4;
    margin-left: 420px;
    margin-top: -110px;
    text-align: right;
}
.button-loguit:hover{
    opacity: 1;
}

.form {
    width: 550px;
    height: 620px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(15vh - 360px) auto;
    padding: 10px 60px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    position: relative;
    margin-top: 200px;

}
.form-loguit {
    width: 550px;
    height: 60px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(15vh - 306px) auto;
    padding: 10px 20px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    position: relative;
    margin-top: 30px;
}
