<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autor toevoegen</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/lid_toevoegen.css}">

</head>
<body>
<center>
    <h1> Himalaya Bibliotheek</h1>

<form th:action="@{/opslaanAutor}" method="post" th:object="${autor}">
    <h2> Autor toevoegen</h2>
    <label>Autor naam</label>
    <input required th:field="*{naam}">
    <div style="font-size: 14px;color: red; font-weight: bold">
        <span th:text="${error}"></span>
    </div>

    <div class="button_position">
        <button class="button" style="background-color: tomato" name="terug" type="button" onclick="history.back()">Annuleren</button>
        <button class="button" style="background-color: #28a745" name="submit" value="Inloggen" type="submit">Opslaan</button>
    </div>

</form>
</center>


</body>
</html>
