<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boek toevoegen</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/lid_toevoegen.css}">

</head>
<body>
<center>
    <h1> Himalaya Bibliotheek</h1>

<form th:action="@{/opslaan_boek}" method="post" th:object="${boek}">
    <h2> Boek toevoegen</h2>
    <label>Title</label><br>
    <input required th:field="*{title}"><br>
    <label>ISBN</label><br>
    <input required th:field="*{isbn}">

    <div class="button_position">
        <button class="button" style="background-color: tomato" name="terug" type="button" onclick="history.back()">Annuleren</button>
        <button class="button" style="background-color: #28a745" name="submit" value="Inloggen" type="submit">Opslaan</button>
    </div>

</form>

</center>


</body>
</html>