<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Himalaya Bibliotheek</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/home.css}">

</head>
<body>

<header class="header">
    <h2>Himalaya Bibliotheek</h2>
    <img src="https://img.icons8.com/cotton/64/000000/library.png"/>
    <ul class="main-nav">
        <li><a href="/inloggen">Inloggen Medewerker</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
    </ul>
</header>
<h1>Himalaya Bibliotheek</h1>
</body>
</html>