<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lid toevoegen</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/lid_registreren_error.css}">

</head>
<body>
<center>
    <h1> Himalaya Bibliotheek</h1>

    <form>
        <h2>Foutmelding!</h2>
        <h3>Sorry!</h3>
            <p>Student met dit studentnummer bestaat al !</p>
        <div class="button_position">
            <button class="button" name="terug" value="error" type="button" onclick="history.back()">Terug</button>
        </div>
    </form>
   </center>
</body>
</html>