<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Medewerker login</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/medewerker_login.css}">
</head>
<body style="text-align: center">
<h1>Himalaya Bibliotheek</h1>
<form th:action="@{/login}" method="post" >
    <div style="color:red; font-size: 16px" th:if="${param.logout}">
        Jij bent uitgelogd !
    </div>
<h2> Inloggen Medewerker </h2>

    <input type="text" placeholder="Gebruikersnaam" name="username" required>

    <input type="password" placeholder="Wachtwoord" name="password" required>

    <div class="button_position">
    <button class="button" style="background-color: tomato" name="terug" value="home" type="button" onclick="history.back()" >Annuleren</button>
    <button class="button" style="background-color: #28a745" name="submit" value="login" type="submit">Inloggen</button>
    </div>
    <div style="color:red" th:if="${param.error}">
        Ongeldige gebruikersnaam en/of wachtwoord !
    </div>
    </form>

</body>
</html>
