<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medewerker login</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/medewerker_login.css}">
</head>
<body>
<center>
<h1> Himalaya Bibliotheek</h1>
    <form th:action="@{login_medewerker}" method="post" >
<h2> Inloggen Medewerker </h2>

    <input type="text" placeholder="Gebruikersnaam" name="gebruikersnaam" required>

    <input type="password" placeholder="Wachtwoord" name="wachtwoord" required>

    <div class="button_position">
    <button class="button" style="background-color: tomato" name="terug" value="home" type="button" onclick="history.back()" >Annuleren</button>
    <button class="button" style="background-color: #28a745" name="submit" value="Inloggen" type="submit">Inloggen</button>
    </div>

</form>
    </center>

</body>
</html>