<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geleende Boeken lijst</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/algemeenTabel.css}">

</head>
<body>
<div align="center">
    <h1>Himalaya Bibliotheek</h1><br>
    <form th:action="@{/niet_geleende_boekenLijst}" method="get" th:object="${nietGeleendBoekLijst}">
        <table>
            <tr>
                <th colspan="5" style="background-color:#32A9EE; color:white; padding:1px; font-size:20px">
                    <p>Beschikbaar Boeken Lijst</p>
                </th>
            </tr>
            <tr style="background-color:darkseagreen;color:white;font-size: 17px">
                <th>S.nr.</th>
                <th style="text-align: left">Boek ID</th>
                <th>Geleend</th>
                <th>Title</th>
            </tr>
            <tr th:each="boek,iterationStatus: ${nietGeleendBoekLijst}">
                <td style="text-align: center" th:text="${iterationStatus.count}"></td>
                <td th:text="${boek.id}"></td>
                <td th:text="${boek.geleend}"></td>
                <td th:text="${boek.title}"></td>
            </tr>
        </table>
        <button class="button" name="terug" value="terug" type="button" onclick="history.back()">Terug</button>
    </form>
</div>
</body>
</html>