<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bevestiging boek verlengen</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/lid_registreren.css}">
</head>
<body>
<h1> Himalaya Bibliotheek</h1>
<form>
    <h2> De uitlening datum is verlengd</h2>
    <p>De nieuwe maximum uitlening datum is:<br><span th:text="${nieuweMaxLeningDatum}"></span></p>
    <div class="button_position">
    <button class="button" style="background-color: tomato" formaction="\" name="afsluiten" value="Afsluiten"
            type="submit">Afsluiten</button>
    <button class="button" formaction="\welkom_pagina" style="background-color: #4CAF50;"  name="submit"
            value="boekterug" type="submit">Menu</button>
    </div>
</form>
</body>
</html>