<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hoofdpagina</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/welkom_pagina.css}">
</head>
<body>
<form class="form-loguit" th:action="@{logout}" method="post">
    <h2 style="color: #0779e4" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]</h2>
    <button class="button-loguit" type="submit">Uitloggen</button>
</form>
<form class="form">
<h1>Menu</h1>
    <button formaction="/toevoegenAutor" class="button"
            name="terug" value="terug" type="submit">Autor toevoegen</button>
        <button formaction="/toevoegen_boek" class="button"
            name="terug" value="terug" type="submit">Boek toevoegen</button>
        <button formaction="/toevoegen_lid" class="button"
                name="terug" value="terug" type="submit">Lid toevoegen</button>
        <button formaction="/uitlenenBoek" class="button"
                name="terug" value="terug" type="submit">Boek uitlenen</button>
        <button formaction="/boek_verlengen" class="button"
                name="terug" value="terug" type="submit">Boek verlengen</button>
        <button formaction="/boek_terugbrengen" class="button"
                name="terug" value="terug" type="submit">Boek terugbrengen</button>
        <button formaction="/ledenLijst" class="button"
                name="terug" value="terug" type="submit">Ledenlijst</button>
        <button formaction="/boekenLijst" class="button"
                name="terug" value="terug" type="submit">Boekenlijst</button>
        <button formaction="/geleende_boekenLijst" class="button"
                name="terug" value="terug" type="submit">Geleende boekenlijst</button>
        <button formaction="/niet_geleende_boekenLijst" class="button"
                name="terug" value="terug" type="submit">Beschikbaar boekenlijst</button>
        <button formaction="/uitlenigLijst" class="button"
                name="terug" value="terug" type="submit">Overzicht geleendeboeken</button>
   </form>
</body>
</html>
