<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hoofdpagina</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/welkom_pagina.css}">
</head>
<body>
<form>
<h1> Menu</h1>
        <button formaction="/toevoegen_boek" class="button"
            name="terug" value="terug" type="submit">Boek toevoegen</button><br>
        <button formaction="/toevoegen_lid" class="button"
                name="terug" value="terug" type="submit">Lid toevoegen</button><br>
        <button formaction="/uitlenenBoek" class="button"
                name="terug" value="terug" type="submit">Boek uitlenen</button><br>
        <button formaction="/boek_verlengen" class="button"
                name="terug" value="terug" type="submit">Boek verlengen</button><br>
        <button formaction="/boek_terugbrengen" class="button"
                name="terug" value="terug" type="submit">Boek terugbrengen</button><br>
        <button formaction="/ledenLijst" class="button"
                name="terug" value="terug" type="submit">Ledenlijst</button><br>
        <button formaction="/boekenLijst" class="button"
                name="terug" value="terug" type="submit">Boekenlijst</button><br>
        <button formaction="/geleende_boekenLijst" class="button"
                name="terug" value="terug" type="submit">Geleende boekenlijst</button><br>
        <button formaction="/niet_geleende_boekenLijst" class="button"
                name="terug" value="terug" type="submit">Beschikbaar boekenlijst</button><br>
        <button formaction="/uitlenigLijst" class="button"
                name="terug" value="terug" type="submit">Overzicht geleendeboeken</button>
    <div style="text-align: center">
        <button class="button button_position" name="terug" value="terug" type="button"
                onclick="history.back()">Uitloggen</button>
    </div>

</form>



</body>
</html>